rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	function isAuth() {
    	return request.auth != null && request.auth.uid != null;
    }
    
    // rol 4: Invitado (0% acceso)
    // rol 3: Usuario (25% acceso)
    // rol 2: Moderador (30% acceso)
    // rol 1: Editor/Asistente (70% acceso)
    // rol 0: Manager (99% acceso)
    // rol -1: Desarrollador (Acceso total)
  	function getRole(instanceId, uid) {
    	return uid is string ? get(/databases/$(database)/documents/instances/$(instanceId)/members/$(uid)).data.role : 3;
    }
    
    // developer.role = -1
    function canDevelop() {
    	return getRole("live", request.auth.uid) < 0
    }
    
    // admin.role = 0
    function canAdmin(instanceId) {
      return canDevelop() || getRole(instanceId, request.auth.uid) < 1
    }
    
    // editor.role = 1
    function canEdit(instanceId) {
      return canAdmin(instanceId) || getRole(instanceId, request.auth.uid) < 2
    }

    // moderator.role = 2
    function canModerate(instanceId) {
      return canEdit(instanceId) || getRole(instanceId, request.auth.uid) < 3
    }
    
    // user.role = 3
    function canUse(instanceId) {
    	return canModerate(instanceId) || getRole(instanceId, request.auth.uid) < 4
    }

    function isOwnUser(uid) {
    	return request.auth.uid == uid;
    }
    
    // function isAuthor() {
    // 	return request.auth.uid == resource.data.createdByRef.uid;
    // }
    
    match /{document=**} {
    	// deshabilita el acceso por defecto
    	allow read, write: if false;
    }
    
    match /logs/{id} {
    	// lectura explicita, desarrolladores
      allow read: if canDevelop();
    	// creacion explicita, cualquiera
      allow create: if true;
      // modificacion granular, desarrolladores hacia arriba
      allow update: if canDevelop();
      allow delete: if canDevelop() && resource.data.lock == false;
    }
    
    match /offenders/{id} {
    	// lectura explicita, desarrolladores
      allow read: if canDevelop();
    	// creacion explicita, cualquiera
      allow create: if true;
      // modificacion granular, desarrolladores hacia arriba
      allow update: if canDevelop();
      allow delete: if canDevelop() && resource.data.lock == false;
    }
    
    match /users/{id} {
    	// lectura unica, cualquiera
      allow get: if isAuth();
    	// lectura multiple, desarrolladores hacia arriba
      allow list: if canDevelop();
      // creacion granular, cualquiera
      allow create: if isAuth();
      // modificacion granular, desarrolladores o propietarios
      allow update: if canDevelop() || isOwnUser(id);
      allow delete: if (canDevelop() || isOwnUser(id)) && resource.data.lock == false;
    }
    
    match /instances/{instanceId} {
    	// lectura explicita, cualquiera
      allow read: if true;
      // creacion granular, administradores hacia arriba
      allow create: if canDevelop();
      // modificacion granular, administradores hacia arriba
      allow update: if canAdmin(instanceId);
      allow delete: if canDevelop() && resource.data.lock == false;

      match /members/{id} {
        // lectura explicita, moderadores hacia arriba
        allow read: if canModerate(instanceId) || isOwnUser(id);
        // modificacion granular, administradores hacia arriba
        allow create: if canAdmin(instanceId) || isOwnUser(id);
        // administradores no puede modificar desarrolladores
        allow update: if canAdmin(instanceId) || isOwnUser(id);
        allow delete: if (canAdmin(instanceId) || isOwnUser(id)) && resource.data.lock == false;
      }
      
      match /logs/{id} {
        // lectura explicita, desarrolladores
        allow read: if canDevelop();
        // creacion explicita, cualquiera
        allow create: if true;
        // modificacion granular, desarrolladores hacia arriba
        allow update: if canDevelop();
        allow delete: if canDevelop() && resource.data.lock == false;
      }
      
      match /counters/{id} {
        // lectura explicita, cualquiera
        allow read: if true;
        // modificacion granular, editores hacia arriba
        allow create: if canEdit(instanceId);
        allow update: if canEdit(instanceId);
        allow delete: if canDevelop() && resource.data.lock == false;
      }
      
      match /teachers/{id} {
        // lectura explicita, cualquiera
        allow read: if true;
        // modificacion granular, usuarios hacia arriba
        allow create: if canUse(instanceId);
        allow update: if canUse(instanceId);
        allow delete: if canModerate(instanceId);
      }
      
      match /courses/{id} {
        // lectura explicita, cualquiera
        allow read: if true;
        // modificacion granular, usuarios hacia arriba
        allow create: if canUse(instanceId);
        allow update: if canUse(instanceId);
        allow delete: if canModerate(instanceId);
      }

      // Add more instance subcollecion rules here
    }
  }
}