@use "sass:color";

// override xamu style system parameters

$estudiantes: #337ab7;

@use "@open-xamu-co/ui-styles/src/utils/module" with (
	// allowances
	$allow-responsive-upscaling: false,
	// sizes
	$size-px: (1080, 980, 480, 440, 330, 220, 180, 90),
	// colors
	$extra-colors: (estudiantes: $estudiantes)
);

@forward "@open-xamu-co/ui-styles/src/utils/module";
