@use "sass:color";

// override xamu style system parameters

$estudiantes: #337ab7;
$calculadora: #7e57c2;

@use "@open-xamu-co/ui-styles/src/utils/module" with (
	// allowances
	$allow-theme-overrides: false,
	$allow-responsive-upscaling: false,
	// colors
	$extra-colors: (estudiantes: $estudiantes, calculadora: $calculadora),
	// sizes
	$size-px: (1080, 980, 480, 440, 330, 220, 180, 90),
	$size-px-default: 1400,
	// loops
	$loop-rows: 14
);

@forward "@open-xamu-co/ui-styles/src/utils/module";
